* {
    box-sizing: border-box;
}
body {
    margin: 0px; 
    padding: 0px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    background-image: url('img/stars.jpg');
    background-repeat: repeat;
    animation: animatedBackground 1000s linear infinite;
}
h1 {
    font-weight: normal;
    color: yellow;
}
#main {
    background-color: yellow;
    width: 100vw;
    left: 0px;
    position: absolute;
    top: 0px;
}
#titleSection {
    text-align: center;
    width: 100%;
    margin-top: 40px;
}
#watch {
    position: absolute;
    left: -500px;
    top: 0px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('img/earth-rotating.gif');
    background-repeat: no-repeat;
    background-position: center; 
}
#secondPoint {
    position: absolute;
    left: -100px;
    top: 0px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('img/satellite2.png');
    background-repeat: no-repeat;
    background-position: center; 
}
#minutePoint {
    position: absolute;
    left: -100px;
    top: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('img/satellite2.png');
    background-repeat: no-repeat;
    background-position: center; 
}
#hourPoint {
    position: absolute;
    left: -100px;
    top: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('img/satellite2.png');
    background-repeat: no-repeat;
    background-position: center; 
}
#watchInfo {
    position: absolute;
    top: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
#plainTime {
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#moreInfoButton {
    font-size: 22px;
    background: none;
    border: 3px solid white;
    padding: 5px;
    color: white;

}
#moreInfoSection {
    display: none;
    color: red;
}
.row {
    padding-left: 50px;
    padding-right: 50px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: center;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
