body {
    margin: 0px;
}

p {
    color: white;
}

#pageMain {
    background-image: url('img/stars.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
    height: 100vh;
    width: 100vw;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 10;
}

#watch {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('img/world2.png');
    background-repeat: no-repeat;
    background-position: center; 
}

#secondsPoint {
    position: absolute;
    left: -100px;
    top: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('img/satellite2.png');
    background-repeat: no-repeat;
    background-position: center; 
}

#minutesPoint {
    position: absolute;
    left: -100px;
    top: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('img/satellite2.png');
    background-repeat: no-repeat;
    background-position: center; 
}

#hoursPoint {
    position: absolute;
    left: -100px;
    top: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('img/satellite2.png');
    background-repeat: no-repeat;
    background-position: center; 
}

#time {
}

#degrees {
}

#position {
}

#moreInfo {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: dimgrey;
    padding: 10px;
    border-radius: 5px;
    radius: 3px solid black;
}