#watch {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    background-color: blue;
    border-radius: 50%;
    background-image: url('img/world2.png');
    background-repeat: no-repeat;
    background-position: center; 
}

#animaPoint {
    position: absolute;
    left: 130px;
    top: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('img/satellite2.png');
    background-repeat: no-repeat;
    background-position: center; 
}

#seconds {
    position: absolute;
    top: 340px;
}

#degrees {
    position: absolute;
    top: 360px;
}

#position {
    position: absolute;
    top: 380px;
}

